* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

header {
  width: 100%;
  height: 91px;
  background-color: #0c0a0a;
}

main {
  width: 100%;
  margin-top: 1px;
}

.hero {
  width: 100%;
  height: 800px;
}

.hero_div_img {
  width: 100%;
  height: 800px;
  background-image: url(./../image/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  filter: blur(15px);
}

.hero__img {
  width: 100%;
  height: 100%;
}

.blur {
  background-image: url(./../image/blurpattern.png);
  width: 100%;
  height: 800px;
  z-index: 1;
  position: absolute;
  background-size: auto;
  background-repeat: repeat;
  filter: brightness(0%);
  object-fit: cover;
}
.blur__black {
  width: 100%;
  height: 800px;
  position: absolute;
  background-color: black;
  opacity: 0.8;
}

.hero__content {
  position: relative;
  /* 구분점 */
  /* border: 1px solid black; */
  z-index: 3;
  width: 1100px;
  margin: 0 auto;
  height: 100%;
}

.hero__title {
  width: 100%;
  height: 20%;
  /* border: 1px solid black; */
  display: flex;
}

.title {
  width: 85%;
  height: 100%;
  /* border: 1px solid black;  */
  line-height: 15;
  text-align: center;
}

.title p {
  font-weight: bold;
  color: white;
  position: absolute;
  left: 500px;
  border-bottom: 2px solid rgb(97, 95, 95);
  height: 140px;
}

.title {
  display: inline;
}

.title__more > a > p {
  line-height: 260px;
  color: rgb(167, 164, 164);
  padding-left: 10px;
}

.title__more > a {
  text-decoration: none;
}

.movie_list_card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.card {
  /* border: 1px solid black; */

  width: 250px;
  height: 400px;
}

.card__img {
  width: 100%;
  height: 85%;
  border-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card__img1 {
  background-image: url(./../image/post1.jpg);
}

.card__img2 {
  background-image: url(./../image/post2.jpg);
}

.card__img3 {
  background-image: url(./../image/post3.jpg);
}

.card__img4 {
  background-image: url(./../image/post4.jpg);
}

.card__btn {
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
}
.card__btn__heart {
  border: 0.5px solid rgb(255, 255, 255);

  border-radius: 5px;
  width: 35%;
  height: 60%;
  color: white;
  text-align: center;
  line-height: 33px;
  background-color: rgba(0, 0, 0, 0.774);
}

.card__btn__reservation {
  border-radius: 5px;
  width: 60%;
  height: 60%;
  background-color: #037b94;
  text-align: center;
  line-height: 33px;
  color: white;
  border: none;
  text-decoration: none;
}
.movie__list__toggle {
  /* border: 1px solid black; */
  width: 90%;
  height: 10%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0, 0.2);
  /* opacity: 0.9; */
}
.movie__list__toggle > ul {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
}

.movie__list__toggle > ul > li {
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.toggle__input__cover {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
  width: 80%;
  height: 50%;
  border-bottom: 2px solid rgb(162, 160, 160);
  margin-bottom: 10px;
  margin-left: 20px;
}
.movie__list__toggle > ul > li > div > input {
  width: 100%;
  height: 65%;
  background-color: transparent;
  /* 배경 투명 */
  border: none;
  color: white;
  font-weight: 700;
  outline: none;
}

.movie__list__toggle > ul > li > div > button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.fa-magnifying-glass {
  color: white;
  width: 100%;
}
.list__toggle_btn__a {
  width: 100%;
  text-decoration: none;
}

.list__line {
  width: 0%;
  height: 70%;
  border: 1px solid rgb(74 71 71);
  margin-top: 12px;
}

.toggle__btn__cover {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
  width: 80%;
  height: 50%;
  color: white;
}

.toggle__btn__cover > .fa-solid {
  margin-bottom: 2px;
}

.mouse {
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 100px;
}

.fa-computer-mouse {
  color: rgb(162, 160, 160);
  font-size: 20px;
}

/* section qRation */

.qRation {
  width: 100%;
  height: 800px;
  background-color: #252451;
}

.qRation__content {
  /* border: 3px solid black; */

  height: 99%;
  width: 1100px;
  margin: 0 auto;
}

.qRation__title {
  /* border: 1px solid black; */

  width: 100%;
  height: 120px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.qRation__title__main > p {
  color: white;
  margin-bottom: 20px;
  font-size: 32px;
}
.qRation__title__more > a {
  text-decoration: none;
}

.qRation__title__more > a > p {
  color: #aaaaaa;
  margin-bottom: 20px;
}
.qRation__main {
  width: 100%;
  height: calc(98% - 120px);
  display: flex;
  gap: 12px;
}

.qRation__main__card {
  /* border: 2px solid black; */

  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}
.qRation__main__card > a {
  text-decoration: none;
  width: 300px;
  height: 430px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.bage__qRation__poster {
  background-image: url(./../image/bg-bage-curation-film.png);
  width: 123px;
  height: 131px;
  position: absolute;
  z-index: 2;
  top: -10px;
  left: -20px;
}

.qRation__card__postImg {
  width: 100%;
  height: 100%;
  background-image: url(./../image/qRation__poster.jpg);
  border-radius: 16px;
}

.qRation__card__btns {
  width: 100%;
  height: 60px;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.qRation__card__btn {
  width: 140px;
  height: 80%;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  line-height: 48px;
}

.qRation__card__btns > a > .qRation__detail {
  background-color: transparent;
  border: 1px solid white;
}

.qRation__card__btns > a > .qRation__reservation {
  background-color: #087b94;
  border: none;
}

.qRation__main__detail {
  /* border: 1px solid black; */
  margin-top: 10px;
  width: 65%;
  height: 100%;
  color: white;
}

.qRation__main__shopTag > p {
  font-size: 24px;
}

.qRation__main__card__title {
  font-size: 32px;
}
.qRation__main__line {
  width: 100%;
  height: 24px;
  border-bottom: 2px solid #3c3962;
  padding-bottom: 12px;
}

.qRation__main__card__detail {
  margin-top: 12px;
}

.qRation__main__card__detail > p {
  line-height: 1.5;
  font-size: 16px;
}
.qRation__card__detail__title {
  line-height: 60px !important;
}

.qRation__main__card__lists {
  /* border: 2px solid black; */
  width: 98%;
  height: 45%;
  margin-top: 12px;
}
.qRation__main__card__lists > ul {
  display: flex;
  gap: 12px;
  height: 100%;
}

.qRation__main__card__lists > ul > a {
  margin: 0 auto;
  /* border: 1px solid white; */
  height: 80%;
  width: 25%;
  text-decoration: none;
  color: white;
  font-size: 14px;
  position: relative;
}
.qRation__main__card__lists > ul > a > li {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  list-style: none;
  text-align: center;
}

.qRation__card__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin: 0 auto;
}
.qRation__list__card > p {
  margin-top: 12px;
}

.qRation__card__img1 {
  background-image: url(./../image/qRation__list__img1.jpg);
}
.qRation__card__img2 {
  background-image: url(./../image/qRation__list__img2.jpg);
}
.qRation__card__img3 {
  background-image: url(./../image/qRation__list__img3.jpg);
}
.qRation__card__img4 {
  background-image: url(./../image/qRation__list__img4.jpg);
}

.bage__qRation__card {
  background-image: url(./../image/bg-bage-curation-img.png);
  width: 35px;
  height: 38px;
  position: absolute;
  z-index: 2;
  top: -5px;
  left: 15px;
}

/* section info */
.info {
  width: 100%;
  height: 700px;
}

.info__content {
  /* border: 3px solid black; */
  height: 50%;
  width: 1100px;
  margin: 0 auto;
}

.info__title {
  padding: 20px 0;
  color: #351f66;
}

.info__banner {
  width: 100%;
  height: calc(100% - 76px);
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  gap: 15px;
}
.fa-chevron-left,
.fa-chevron-right {
  font-size: 32px;
  color: #adadad;
  /* padding: 0 20px; */
}

.info__banner__content {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}

.info__banner__content > a {
  /* border: 1px solid black; */

  margin: auto;
  width: 150px;
  height: 150px;
}

.info__banner__cell {
  /* border: 1px solid black; */

  border-radius: 10px;
  width: 150px;
  height: 150px;
  background-size: 150px 300px;
  background-position: top;
  /* 추후 hover를 이용하여 bottom으로 변경 */
  background-repeat: no-repeat;
  /* overflow: hidden; */
}

.dolbycinema {
  background-image: url(./../image/dolbycinema.png);
}
.dva {
  background-image: url(./../image/dva.png);
}
.mx4d {
  background-image: url(./../image/mx4d.png);
}
.dolbyatmos {
  background-image: url(./../image/dolbyatmos.png);
}
.led {
  background-image: url(./../image/led.png);
}
.private {
  background-image: url(./../image/private.png);
}

/* 

  중간지점


*/
.board {
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  width: 100%;
  height: 8%;
  /* display: flex; */
}

.board__content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.board__title {
  width: 20%;
  height: 100%;
  line-height: 56px;
  text-align: right;
  /* margin-right: 20px; */
}

.board__line {
  border: 1px solid #f0f0f0;
  height: 30%;
  margin: 0 20px;
}

.board__link {
  display: flex;
  gap: 10px;
  width: 50%;
}
.board__unique {
  color: #05738b;
  font-weight: bold;
}

.board__more {
  display: flex;
  gap: 8px;
  align-items: center;
}

.board__content > a {
  text-decoration: none;
  color: black;
}
.board__more > .fa-chevron-right {
  font-size: 18px;
}

.table {
  border: 3px solid black;
  height: 30%;
  width: 1100px;
  margin: 0 auto;
}

.table__content {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.table__link {
  width: 20%;
  height: 100%;
}
