* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

header {
  width: 100%;
  height: 91px;
  background-color: #0c0a0a;
}

main {
  width: 100%;
  margin-top: 1px;
}

.hero {
  width: 100%;
  height: 800px;
}

.hero_div_img {
  width: 100%;
  height: 800px;
  background-image: url(./../image/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  filter: blur(15px);
}

.hero__img {
  width: 100%;
  height: 100%;
}

.blur {
  background-image: url(./../image/blurpattern.png);
  width: 100%;
  height: 800px;
  z-index: 1;
  position: absolute;
  background-size: auto;
  background-repeat: repeat;
  filter: brightness(0%);
  object-fit: cover;
}
.blur__black {
  width: 100%;
  height: 800px;
  position: absolute;
  background-color: black;
  opacity: 0.8;
}

.hero__content {
  position: relative;
  /* 구분점 */
  /* border: 1px solid black; */
  z-index: 3;
  width: 1100px;
  margin: 0 auto;
  height: 100%;
}

.hero__title {
  width: 100%;
  height: 20%;
  /* border: 1px solid black; */
  display: flex;
}

.title {
  width: 85%;
  height: 100%;
  /* border: 1px solid black;  */
  line-height: 15;
  text-align: center;
}

.title p {
  font-weight: bold;
  color: white;
  position: absolute;
  left: 500px;
  border-bottom: 2px solid rgb(97, 95, 95);
  height: 140px;
}

.title {
  display: inline;
}

.title__more > a > p {
  line-height: 260px;
  color: rgb(167, 164, 164);
  padding-left: 10px;
}

.title__more > a {
  text-decoration: none;
}

.movie_list_card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.card {
  /* border: 1px solid black; */

  width: 250px;
  height: 400px;
}

.card__img {
  width: 100%;
  height: 85%;
  border-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card__img1 {
  background-image: url(./../image/post1.jpg);
}

.card__img2 {
  background-image: url(./../image/post2.jpg);
}

.card__img3 {
  background-image: url(./../image/post3.jpg);
}

.card__img4 {
  background-image: url(./../image/post4.jpg);
}

.card__btn {
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
}
.card__btn__heart {
  border: 0.5px solid rgb(255, 255, 255);

  border-radius: 5px;
  width: 35%;
  height: 60%;
  color: white;
  text-align: center;
  line-height: 33px;
  background-color: rgba(0, 0, 0, 0.774);
}

.card__btn__reservation {
  border-radius: 5px;
  width: 60%;
  height: 60%;
  background-color: #037b94;
  text-align: center;
  line-height: 33px;
  color: white;
  border: none;
  text-decoration: none;
}
.movie__list__toggle {
  /* border: 1px solid black; */
  width: 90%;
  height: 10%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0, 0.2);
  /* opacity: 0.9; */
}
.movie__list__toggle > ul {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
}

.movie__list__toggle > ul > li {
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.toggle__input__cover {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
  width: 80%;
  height: 50%;
  border-bottom: 2px solid rgb(162, 160, 160);
  margin-bottom: 10px;
  margin-left: 20px;
}
.movie__list__toggle > ul > li > div > input {
  width: 100%;
  height: 65%;
  background-color: transparent;
  /* 배경 투명 */
  border: none;
  color: white;
  font-weight: 700;
  outline: none;
}

.movie__list__toggle > ul > li > div > button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.fa-magnifying-glass {
  color: white;
  width: 100%;
}
.list__toggle_btn__a {
  width: 100%;
  text-decoration: none;
}

.list__line {
  width: 0%;
  height: 70%;
  border: 1px solid rgb(74 71 71);
  margin-top: 12px;
}

.toggle__btn__cover {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
  width: 80%;
  height: 50%;
  color: white;
}

.toggle__btn__cover > .fa-solid {
  margin-bottom: 2px;
}

.mouse {
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 100px;
}

.fa-computer-mouse {
  color: rgb(162, 160, 160);
  font-size: 20px;
}
